<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <header>
        <h1>Event Information page</h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Event Info
            </th>
        </tr>
        <tr>
            <td><b>Event Name </b></td>
            <td th:text="${event.name}">Partyy</td>
        </tr>
        <tr>
            <td><b>Event Description</b></td>
            <td th:text="${event.description}">desc</td>
        </tr>
        <tr>
            <td><b>Event popularity</b></td>
            <td th:text="${event.getPopularityScore()}">0</td>
        </tr>
        <tr>
            <td><b>Event location</b></td>
            <td th:text="${event.location}">2</td>
        </tr>
        <tr th:if="${hasBooking}">
            <td style="width: 600px"><b>Event Bookings</b>
            <ul>
                <li th:each="booking : ${event.getBookings()}" th:text="'Booking Atendee :'+${booking.getAttendeeName()} +'  Booking Tickets:'+
                ${booking.getNumberOfTickets()} +' Booking Atendee Address :'+${booking.getAttendeeAddress()}"></li>
            </ul>
            </td>
        </tr>
    </table>
</section>

</body>
</html>